#PROFILE{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
body{
    text-align: center;
}
#home{
    background: linear-gradient(aqua 50%,skyblue 30%, green 20%);
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
}
h1{
    font-size: 40px;
    font-weight: 200;
    color: black;
}
#aboutme{
    margin-top: 20px;
    padding: 50px;
}
#videos{
    padding: 50px;
}
#anchor{
    font-size: 50px;
}
body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
#contact iframe{
    width: 80%;
}